
@keyframes grow{
  0% {
    translate: 70vw 0vh;
    scale: 20% 10%;
    background-color: rgb(78, 85, 85);
  }

  50% {
    translate: 50vw 0vh;
     scale: 20% 10%;
    background-color: rgb(78, 85, 85);
  }
}

svg {
  width: 80vh;
  border: 1px solid #d9d9d9;
  position: absolute;
  margin: auto;
  inset: 0;
}

#box{
  transform-origin: 50% 50%; /* anything other than `0 0` to see the effect */
  transform-box: fill-box;
  animation: rotate-box 3s linear infinite;
}

@keyframes rotate-box {
  to {
    transform: rotate(360deg);
  }
}
  /* 70% {
    translate: 30vw 0;
    scale: 20% 10%;
      display: none;
  }
 100% {
    translate: 10vw 0;
    scale:  20% 10%;
      display: none;
  }
 
}
.animations:hover{
    background-color: beige;
transition-property: margin-right;*/
.animae{
  width: 50px;
  height: 60px;
  border:2px solid black;
animation-name: move;
animation-duration: 2s;
position: fixed;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
@keyframes move {
  100%{
    transform: translate(20px);
  }
}
  .anima{
    top: 50%;
    left:50%;
  width: 50px;
  height: 60px;
  border:5px solid black;
animation-name: mov;
animation-duration: 2s;
position: fixed;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
@keyframes mov {
  100%{
    transform: scale(1, 3);
  }
}
 .anim{
    top: 50%;
    left:70%;
  width: 50px;
  height: 60px;
  border:5px solid black;
animation-name: mo;
animation-duration: 2s;
position: fixed;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
@keyframes mo {
  100%{
    transform: skew(50deg, 20deg);
  }
}
.index1 {
  z-index: 1;
  height: 3 0px;
  width: 100px;
  border: solid black;
  position: absolute;
  animation-name: grow;
  animation-duration: 5s;
  border-radius: 15px;
  animation-iteration-count: infinite;
   
 animation-direction: alternate; 
  border: 2px solid black;
  display: flex;
  margin-top: 120px;
  margin-left: 800px;
}
.index2 {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    rgb(60, 60, 60),
    rgb(120, 120, 120),
    rgb(210, 210, 210)
  );
  width: 1350px;
  height: 150px;
  opacity: 3px;
}
.index3 {
  position: absolute;
  border: 1px;
  z-index: 3;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
}
